
.map-container {
    height: 100vh;
    }

.card{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    width: 250px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    
}

.overlay{
    margin-left: 20px;
    
}
.card-2{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    width: 250px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 25px;  
}

.btn-warning{
    color: black;
    border-radius: 25px 25px 0px 0px;
}